@model IEnumerable<Shop11A.Models.Brand>


<h1 class="text-center">MotoRex</h1>

<div class="row col-md-12">
	@foreach (var brand in Model)
	{

		var imgUrl = "http://localhost:5041/" + brand.Logo;


		<div class="col-md-4">
			<div class="card mb-4 shadow-sm">
				<a href="/brand/detals?brand=@brand.Id&cat=0">
				<img src="@imgUrl" alt="@brand.Name" class="img-fluid img-thumbnail" />
				<div class="card-body">
					<h5 class="card-title">@brand.Name</h5>
					
				</div>
				</a>
			</div>
		</div>
	}

</div>