@model IEnumerable<Shop11A.Models.Brand>




<div class="container-fluid d-flex align-items-center justify-content-center">
	<img src="http://localhost:5041/images/banner.jpg" alt="banner" class="" />
</div>


<h1 class="text-center">Motorex</h1>

<div class="row col-md-12">
	@foreach (var brand in Model)
	{

		var imgUrl = "http://localhost:5041/" + brand.Logo;


		<div class="col-md-4">
			<div class="card mb-4 shadow-sm">
				<img src="@imgUrl" alt="@brand.Name" class="img-fluid img-thumbnail" />
				<div class="card-body">
					<h5 class="card-title">@brand.Name</h5>
					
				</div>
			</div>
		</div>
	}

</div>